$color1: purple;
$color2: black;
$color3: white;
$margin-top150: margin-top 150px;
$pixel10: 10px;
$pixel15: 15px;
$pixel40: 40px;
$px60: 60px;
$pixel80: 80px;
$pixel140: 140px;
$pixel120: 120px;
$pixel150: 150px;
$pixel200: 200px;
$pixel250: 250px;
