@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Para todo el codigo en común */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  line-height: 16px;
  font-size: 16px;
}

.body {
  background-color: #212529;
}

.body nav {
  min-height: 80px;
}

.body nav .container a img {
  max-width: 80px;
}

.body nav .container #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: black;
}

.body .cabecera {
  background-image: url(/Images/cabecera.jpg);
  background-size: cover;
  padding-top: 160px;
  min-height: 600px;
}

.body .cabecera .container .content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
  margin-top: 60px;
}

.body .cabecera .container .content-center h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}

.body .cabecera .container .content-center p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 0;
}

.body .Informacion {
  padding: 100px 0;
  background-color: #54504F;
}

.body .Informacion .container-fluid .content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
  margin-top: 60px;
}

.body .Informacion .container-fluid .content-center h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}

.body .Informacion .container-fluid .content-center p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 0;
}

.body .Informacion .container-fluid .row .col-md-4 .portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.body .Informacion .container-fluid .row .col-md-4 .portfolio-container .portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 10;
}

.body .Informacion .container-fluid .row .col-md-4 .portfolio-container .portfolio-details a {
  color: black;
  text-decoration: none;
}

.body .Informacion .container-fluid .row .col-md-4 .portfolio-container .portfolio-details a h2 {
  color: #FF00FF;
}

.body .Informacion .container-fluid .row .col-md-4 .portfolio-container .portfolio-details a p {
  color: #6B02DA;
}

.body .footer {
  padding: 80px 0;
  text-align: center;
  color: white;
  background: black;
}

.body .footer .container-fluid {
  background-color: black;
}

.body .footer .container-fluid img {
  max-height: 120px;
}

.body .footer .container-fluid ul .footer-menu {
  padding: 10px 15px;
}

.body .footer .container-fluid ul .footer-menu a {
  color: white;
}

.body .Text_Roll {
  text-align: center;
  padding-top: 2%;
  font-style: oblique;
}

.body .Perfil {
  border: 1px solid white;
  width: 50%;
  height: 100%;
  margin-top: 100px;
  float: right;
  padding: 2%;
}

.body .Perfil .Informacion_Perfil {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.body .Contactanos {
  margin-top: 220px;
  margin-left: 10px;
  margin-right: 4px;
}

.body .Contactanos .form-group .form-control {
  width: 60%;
}

.body .Contactanos .btn-primary {
  background-color: #3107c7;
  border-color: white;
  color: white;
  border-radius: 8px;
}

.body .Contactanos .btn-primary:hover {
  background-color: black;
  border-color: violet;
}
/*# sourceMappingURL=estilos.css.map */