@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";
// mixin conten-center
@mixin content-center($margin-top) {
  max-width: 800px;
  margin: 0 auto $px60 auto;
  text-align: center;
  margin-top: $margin-top;
  @if $margin-top == 150 {
    margin-top: $pixel150;
  } @else if $margin-top == 60 {
    margin-top: $px60;
  } @else if $margin-top == 10 {
    margin-top: $pixel10;
  }
  h1 {
    @include h1;
  }
  p {
    @include p;
  }
}
// mixin h1
@mixin h1 {
  font-size: $px60;
  font-weight: 600;
  line-height: $pixel80;
}
// mixin p
@mixin p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 0;
}
// mixin planesweb
@mixin planesweb {
  margin-top: $pixel10;
  border-radius: $pixel10;
  background-color: $color2;
  border: 2px solid $color3;
  padding: $pixel40;
  ul {
    margin-top: $pixel15;
  }
  a {
    @include a;
  }
}
// mixin comprar
@mixin comprar {
  color: $color3;
  border: 1px $color3 solid;
  text-decoration: none;
  width: 100%;
}
// mixin a
@mixin a {
  color: $color3;
  border: 1px $color3 solid;
  text-decoration: none;
  width: 100%;
  color: $color3;
  border: 1px $color3 solid;
  text-decoration: none;
  width: 100%;
}

/* Para todo el codigo en común */
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $color3;
  text-decoration: none;
  line-height: 16px;
  font-size: 16px;
}
.body {
  background-color: $color1;
  // Modificando el Navbar
  nav {
    min-height: $pixel80;
    .container {
      a {
        img {
          max-width: $pixel80;
        }
      }
      // Colores de los links
      #navbarSupportedContent {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $color2;
            }
          }
        }
      }
    }
  }
  .cabecera {
    background-image: url(/Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: $pixel140;
    min-height: 760px;
    .container {
      .content-center {
        @include content-center(150);
      }
    }
  }
  .Informacion {
    padding: 100px 0;
    background-color: $color2;
    .container-fluid {
      .content-center {
        @include content-center(60);
      }
      .row {
        .col-md-4 {
          .portfolio-container {
            position: relative;
            overflow: hidden;
            margin: $pixel10 0;
            .portfolio-details {
              position: absolute;
              bottom: 25px;
              left: 25px;
              z-index: 10;
              h2 {
                color: $color2;
              }
              p {
                color: $color2;
              }
            }
          }
        }
      }
    }
  }
  .recomendaciones {
    background-color: $color1;
    .content-center {
      @include content-center(60);
      h1 {
        @include h1;
      }
      p {
        @include p;
      }
    }
    .container {
      #carouselExampleIndicators {
        min-height: $pixel250;
        padding: $pixel40;
        border-radius: 2px;
        text-align: center;
        .carousel-inner {
          .carousel-item {
            .avatar {
              height: $pixel200;
              padding-bottom: $pixel40;
            }
            .start {
              height: 30px;
            }
          }
        }
      }
    }
  }
  .Contact {
    .container {
      .row {
        margin-top: $pixel120;
        margin-bottom: $pixel40;
        .col-md-6 {
          .row {
            .col-md-12 {
              .btn-primary {
                background-color: $color2;
                text-decoration: none;
                border-color: $color2;
              }
            }
          }
        }
        .topmargin-sm {
          margin-top: 160px;
          text-align: center;
        }
      }
    }
    #exampleModal {
      .modal-dialog {
        .modal-content {
          .modal-header {
            h5 {
              color: $color2;
            }
          }
          .modal-body {
            p {
              color: $color2;
            }
          }
        }
      }
    }
  }
  .Nosotros {
    margin-top: $pixel200;
    padding-top: 0.5rem;
    background-color: $color2;
    .container {
      .content-center {
        @include content-center(150);
      }
      .row {
        .col-md-4 {
          .img-fluid {
            height: $pixel250;
          }
          .redes {
            margin-bottom: 20px;
            img {
              height: 22px;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
  #productos {
    padding-top: $pixel140;
    padding-bottom: $px60;
    .content-center {
      @include content-center(10);
    }
    .row {
      .col-md-4 {
        .Contenido {
          margin: $pixel15 0;
          .PlanesWeb {
            @include planesweb;
          }
        }
      }
      .col-md-6 {
        .Contenido {
          margin: $pixel15 0;
          .PlanesWeb {
            @include planesweb;
          }
        }
      }
      .col-md-3 {
        .Contenido {
          .Usb {
            @include planesweb;
            a {
              @include a;
            }
          }
        }
      }
      .col-md-12 {
        padding-top: $px60;
        h2 {
          text-align: center;
        }
      }
    }
    #exampleModal {
      .modal-dialog {
        .modal-content {
          .modal-header {
            h5 {
              color: $color2;
            }
          }
          .modal-body {
            p {
              color: $color2;
            }
          }
        }
      }
    }
  }
  .footer {
    padding: $pixel40 0;
    text-align: center;
    color: $color3;
    background: $color2;
    .container-fluid {
      background-color: $color2;
      img {
        max-height: $pixel120;
      }
      ul {
        .footer-menu {
          padding: $pixel10 $pixel15;
          a {
            color: $color3;
          }
        }
      }
    }
  }
}
